body {
    margin: 0;
    color: #222;
    font: 15px georgia, serif;
}
header {
    background: #214583;
    color: white;
    font-size: 40px;
}
form {
    padding: 10px;
}
form * {
    margin: 0;
    padding: 0 12px;
}
input, button {
    border: none;
    background: inherit;
    color: inherit;
    font: inherit;
}
input {
    width: 1000px;
    border-bottom: 2px dashed lightgrey;
    outline: none;
}
h2 {
    margin: 0;
    padding: 10px 5px;
    font-size: 25px;
}
a:link, a:visited {
    color: darkred;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    padding: 10px;
}
li + li {
    border-top: 1px solid #777;
}
li a {
    display: block;
    min-height: 85px;;
    text-decoration: none;
}
li img {
    float: left;
    margin-right: 15px;
}
li span {
    margin: 4px;
    padding: 4px;
    border: 1px solid #888;
    border-radius: 4px;
    background: lightyellow;
    color: #222;
}